@font-face {
    font-family: policeLoL;
    src: url('../police/Friz Quadrata Std Medium.otf');
}

@keyframes rotation {
    from {
      transform:translate(-50%, -50%) rotate(0deg) ;
    }
    to {
      transform:translate(-50%, -50%) rotate(359deg) ;
    }
}
html {
  background-color: #01060D;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}